<h1 class="text-center">Checklist de Itens</h1>
<p class="text-center">Bem-vindo, <%= current_user.email %>!</p>

<div class="header-actions">
  <%= link_to "Adicionar Item", new_item_path, class: "btn btn-add" %>
</div>

<div class="search-container">
  <input type="text" id="item-search-input" placeholder="Buscar item por nome..." class="form-control">
</div>

<% @items.group_by(&:category).each do |category, items_by_category| %>
  <div class="group-wrapper" data-category-name="<%= category.downcase %>">
    <div class="group-header category-header collapsible">
      <% not_found_in_category = items_by_category.count { |item| !@found_item_ids.include?(item.id) } %>
      <span>
        <%= category %> <%= items_by_category.count %>
        <% if not_found_in_category > 0 %>
          <span class="not-found-count colorred">(<%= not_found_in_category %>)</span>
        <% end %>
      </span>
      <span class="toggle-icon"></span>
    </div>
    <div class="items-container">
      <% items_by_category.group_by(&:rarity).each do |rarity, items_by_rarity| %>
        <div class="group-wrapper" data-rarity-name="<%= rarity.downcase %>">
          <div class="group-header rarity-header collapsible">
            <% not_found_in_rarity = items_by_rarity.count { |item| !@found_item_ids.include?(item.id) } %>
            <span>
              <%= rarity %> <%= items_by_rarity.count %>
              <% if not_found_in_rarity > 0 %>
                <span class="not-found-count colorred">(<%= not_found_in_rarity %>)</span>
              <% end %>
            </span>
            <span class="toggle-icon"></span>
          </div>
          <div class="items-container">
            <table class="items-table">
              <thead>
                <tr>
                  <th>Item</th>
                  <th style="width: 10%;"></th>
                  <th style="width: 10%;"></th>
                </tr>
              </thead>
              <tbody>
                <% items_by_rarity.each do |item| %>
                  <% is_found = @found_item_ids.include?(item.id) %>
                  <tr id="item-row-<%= item.id %>" data-item-name="<%= item.name.downcase %>" class="<%= is_found ? 'row-found' : 'row-missing' %>">
                    <td><%= item.name %></td>
                    <td>
                      <%= form_with(url: toggle_found_item_path(item), method: :post, local: true) do %>
                        <button type="submit" class="btn-action <%= is_found ? 'btn-not-found' : 'btn-found' %>">
                          <%= image_tag(
                                is_found ? 'https://img.icons8.com/external-others-inmotus-design/67/FFFFFF/external-Cancel-basic-elements-others-inmotus-design.png' : 'https://img.icons8.com/ios-filled/50/FFFFFF/instagram-check-mark.png',
                                alt: is_found ? "Marcar como não encontrado" : "Marcar como encontrado",
                                width: "24"
                              ) %>
                        </button>
                      <% end %>
                    </td>
                    <td>
                      <%= form_with(url: item_path(item), method: :delete, local: true) do %>
                        <button type="submit" class="btn btn-delete">
                          <%= image_tag "https://img.icons8.com/comic/200/FFFFFF/delete.png", alt: "Remover Item", width: "24" %>
                        </button>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
